@model DD4T.ContentModel.IPage
@using DD4T.Mvc.Html
@*
    This is a very basic Page View, you may delete this if you wish.
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Title</h1>
@Html.RenderComponentPresentations()