@using DD4T.Mvc.Html;
@model DD4T.ContentModel.Component
@{
        Layout = "";
}


<h2>Query result:</h2>
<ul>
@foreach (var component in ViewBag.Results)
{
    <li>@component.Title</li>
}
</ul>

