@using DD4T.Mvc.Html;
@model DD4T.ContentModel.Page
<form id="Search" action="@Url.Content("~/Search/index.html")" method="post">
    @Html.TextBox("query")
    <input type="submit" value="Search" />
</form>
