@*  
    This is a very basic Layout file which is used by the page view. It is not required by DD4T but allows you to render common
    items for all Page Views if you wish
*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My DD4T web application</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
